
<style>
    #info{color: red ;}
</style>


<section>
<h3> Using components </h3>
 <input type="button" value="Send" {{action "myClick"}}/>
 <br><br>
 <b>Info:</b> <span id="info"> {{title}}</span>

 </section>
